@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

html, body {
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(90deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
    overflow-y: hidden;
}

#container {
    margin: 100px auto;
    height: 300px;
    width: 850px;
    background-color: rgb(224, 221, 221);
    display: grid;
    border-radius: 10px;
}

#paragraph {
    text-align: center;
    align-self: center;
    padding: 0;
    margin: 0;
}

#container-two {
    margin: -80px auto;
    height: 80px;
    width: 850px;
    background-image: linear-gradient(270deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
    
    display: flex;
    border-radius: 10px;
}

#fontdiv {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
#font-label {
    font-weight: bold;
    padding-bottom: 5px;
}
#select {
    height: 25px;
    width: 100px;
}

#fontsize {
    align-self: center;
    margin-left: 50px;
}

#fontsize p {
    margin: 0;
    text-align: center;
    font-weight: bold;
}

#fontcolor {
    align-self: center;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
#fontcolor p {
    font-weight: bold;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

#colors {
    display: flex;
    height: 25px;
    width: 120px;
    justify-content: space-between;
}
#black {
    background-color: black;
    height: 25px;
    width: 25px;
}
#red {
    background-color: red;
    height: 25px;
    width: 25px;
}
#blue {
    background-color: blue;
    height: 25px;
    width: 25px;
}
#green {
    background-color: green;
    height: 25px;
    width: 25px;
}

.font{
    border-radius: 50%;
}

#fontstyle {
    align-self: center;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

#fontstyle p {
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

#div-style {
    display: flex;
    flex-direction: row;   
}

#light {
    height: 25px;
    width: 60px;
    margin-left: 10px;
}
#bold {
    height: 25px;
    width: 60px;
}